.khan__book-container {
    margin: 0;
    padding: 0;
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    justify-self: flex-start;
    align-items: flex-start;
}